/* Style the navbar */
#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #383838;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }