<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta name="naver-site-verification" content="45e6ae090fe48bf6354a2f6657589cb5c2742c65" />
	<meta name="google-site-verification" content="FeQKrKjRI9BtgoWIHaH-q6rPIkoLiSVgl3FtoSTXHIQ" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>미광텍스</title>
	<meta name="description" content="마스크 끈, 마스크 이어밴드 및 카바링 생산업체 미광텍스">
	<meta property="og:type" content="website">
	<meta property="og:description" content="마스크 끈, 마스크 이어밴드 및 카바링 생산업체 미광텍스">
	<meta property="og:title" content="미광텍스" />
	<meta property="og:url" content="https://mktextile.kr" />
	<meta property="og:image" content="/assets/images/main.jpg" />
	<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
	<script src="https://kit.fontawesome.com/69c07f8d36.js" crossorigin="anonymous"></script>
	<link rel="canonical" href="https://mktextile.kr/{{ page.title }}">
</head>
<body>
<div id="navbar">
	<a href="https://mktextile.kr">MK Textile</a>
	<a href="tel:054-931-1418" style="float: right; padding-left: 0px;"><i class="fas fa-phone"></i></a>
	<a href="mailto:mk9311418@naver.com" style="float: right;"><i class="fas fa-envelope"></i></a>
</div>
{{ content }}
<footer>
	{% include footer.html %}
</footer>
<script>
/* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
window.addEventListener("scroll", bringmenu);

function bringmenu() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-55px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
</body>
</html>
