<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>미광텍스</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
	<script src="https://kit.fontawesome.com/69c07f8d36.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="navbar">
	<a href="https://mktextile.kr">MK Textile</a>
	<a href="" id="phone"><i class="fas fa-phone"></i></a>
	<a href="" id="mail"><i class="fas fa-envelope"></i></a>
</div>
<div id="main">
	<p>
		다양한<br>마스크 끈을<br>생산합니다.
	</p>
</div>
<div class="maskloop">
</div>
<div class="maskloop">
</div>
<div class="maskloop">
</div>
<footer>
	{% include footer.html %}
</footer>
</body>
</html>
