<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>미광텍스</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
	<script src="https://kit.fontawesome.com/69c07f8d36.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="navbar">
	<a href="https://mktextile.kr">MK Textile</a>
	<a href="" style="float: right; padding-left: 0px;"><i class="fas fa-phone"></i></a>
	<a href="" style="float: right;"><i class="fas fa-envelope"></i></a>
</div>
<div id="main">
	<p>
		다양한<br>마스크 끈을<br>생산합니다.
	</p>
</div>
<div class="maskloop">1</div><div class="maskloop">2</div><div class="maskloop">3</div>
<div class="info">4</div><div class="info">5</div>
<div id="wrap-wrap">
<div id="map"></div>
<div id="wrap">
<div id="adress">
	<a style="font-size: x-large; font-weight: 600;">소재지</a><br><br>
	<a style="font-size: large;"><i class="fas fa-map-marked-alt"></i> 경상북도 성주군 선남면 선노로 37, 미광텍스</a>
</div><div id="tel"><a style="font-size: x-large; font-weight: 600;">연락처</a><br><br>
	<a style="font-size: large;"><i class="fas fa-building"></i> 유선전화 : 054-931-1418
	<br><i class="fas fa-envelope-open-text"></i> 메일 :
</a></div>
</div></div>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e762ea2acca6b2fa823ccf4fb3b5a2ce"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(35.885279, 128.373758), // 지도의 중심좌표
		        level: 6, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    }; 

		// 지도를 생성한다 
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 지도에 확대 축소 컨트롤을 생성한다
		var zoomControl = new kakao.maps.ZoomControl();

		// 지도의 우측에 확대 축소 컨트롤을 추가한다
		map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

		// 마커가 표시될 위치입니다 
		var markerPosition  = new kakao.maps.LatLng(35.885279, 128.373758); 

		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
			position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);
	</script>
<footer>
	{% include footer.html %}
</footer>
</body>
</html>
